html{
  overflow-y : scroll;
  width:100%; 
  height: 100vh; 
}
 
.greybackground{
  background: rgba(255, 255, 255, 0.664) ;
  mix-blend-mode: normal;
  transform: rotate(-0.13deg);
  
}

body{
  font-family: "Roboto", sans-serif;;
  font-style: normal;
  font-weight: 600;
  color:rgb(40, 91, 133);
  background: #00344A;
}
.landing {
  height: 100vh;
  min-width: 100%;

}

 
 .Aligner{
  background: #63675D
 } 
.Aligner-item {
  position: relative;
  top: 20%;
  left: 25%;
  width: 70vh;
  font-size: 22pt;
  font-family: 'Abhaya Libre SemiBold';
  line-height: 156.62%;
}

.right{
  left: 31%; 
  width: 90vh;
}

 
main{
  min-height: 100vh;
  background-color: rgba(25, 77, 99, 0.671);
}

/* .SearchToolBox{
  border: 1px solid black;
} */

a.nav-link.nav-font.nav-link{
  font-family: 'Atma';
  font-size: 20pt;
  letter-spacing: 0.1em;
  font-weight: 900;
  line-height: 36px;
  color: #8C986A;
  -webkit-text-stroke: rgba(163, 159, 145, 0.548) 1px;
}

span.background.labelFont.navbar-brand{
  font-family: 'Atma';
  line-height: 36px;
  font-size: 24pt;
  color: #8C986A;
  -webkit-text-stroke: rgba(163, 159, 145, 0.548) 1px;
  font-weight: 900;
  line-height: 36px

}
/* 
.landingbtn {
  position: absolute;; 
  top:500px; 
  left: 300px;
  padding-bottom: 100px;
  text-align:center; 
  width:80px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: 0;
  color: whitesmoke;
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
 
}

 
.landingbtn:hover, .landingbtn:hover::before {
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 15px teal;
 
}

.landingbtn:hover {
  color: white;
} */

.ui.items>.item>.image>img {
  object-fit: cover;
  height: 220px;
  width: 200px;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg{
  width:200px
}
.item.columnBox{
  border: gray 2px solid;
}
.displayData  {
    border: gray 1px solid;
    background: beige;
    width: 50vh;
    left:1;
    float: right;
}
.stickySearchBar{
  margin-top: 20px;
}
.label.speciesBtn{
  min-width: 10px;
  width: 200px;
  align-items: center;
  padding: 10px;
 
}

 label.speciesBtn.btn.btn-secondary.btn-lg{
    width: 75px;
 }
button, input {
    overflow: hidden;
    content: hidden ;
}
 .container.directionBar{
   width: 75vh;
 }
 .directionbtn{
  min-width: 350px;
  min-height: 300px;
  padding-bottom: 10px;
 }
 .button.ui.button.directionbtn {
  min-height: 25px;
  font-size: 12px;
  font-weight: 100;
 }
a.ui.button.detailsbtn{
 background: #AB987E;
}
.ui.items>.item>.content>.description{
  font-size: 12px;
}
.ui.items>.item .meta{
  font-size: 12px;
}
.ui.label{
  font-size: 10px;
}
a.ui.button.detailsbtn {
    padding: 15px;
    padding-top: 75px;
}
.ui.left.rail{
  width: 0vh;
}
.ui.centered.two.column.grid {
    width: 100vh;
}
.ui.segment {
    width: 85%;
}
 
 .stickyDirectionBar{
   padding: 2px;
 }
 .container.displayData{
  min-width: 500px;
  width: 800px;
 }
 .container.directionBar{
   width: 600px;
 
 
 }
main.header.h-100.landing.Aligner{

}
@media screen and (max-width: 1200px) {
  .stickySearchBar{
  visibility: hidden
  }
}
.directionBar.d-flex.justify-content-around.container {
    margin-right: 0;
}
.ui.rail {
    left: 0;
}
input[type="text"] {
    width: 230px;
}