html{
  overflow-y : scroll;
  width:100%; 
  height: 100vh; 
}
 
.greybackground{
  background-color: rgba(65, 46, 34, 0.87);
}



body{
  font-family: "Roboto", sans-serif;;
  font-style: normal;
  font-weight: 800;
  color:#EBE0D3;
  background: #00344A;
}

.footer {
  position: relative;
  margin-top: -150px; 
  height: 150px;
  clear:both;
  padding-top:20px;
} 
 
main{
  min-height: 75vh;
  background-color:#EBE0D3 ;
 
}

.SearchToolBox{
  border: 1px solid black;
}